body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #373a3d;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barra-buscadora :hover{
    color: rgb(180, 43, 43);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 1.5em;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    padding: 8px 12px;
    border: none;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

main {
    padding: 20px;
}

.main-content {
    display: flex;
    gap: 20px;
    border-radius: 0%;
}

.featured-article {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.featured-article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.news-list ul {
    list-style: none;
    padding: 0;
}

.news-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.news-list li:last-child {
    border-bottom: none;
}

.featured-article-2{
    align-items: center;
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px;
}

.circles{
    width: 100%;
    height: 100px;
    border: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.info-gira{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.conciertos{
    font-size: 1.7em;
    font: bold;
    color: #333;
    font-family: "Knewave", system-ui;
    font-style: normal;
}

a{
    color: #333;
    text-decoration: none;
}

footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
    bottom: 0px;
}

.footer-social{
    margin-top: 10px;
    color: #ddd;
}
img {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
